:root {
  --primary-color: #9c792b;
  --secondary-color: #f7f7f7;
  --tertiary-color: #201a1a;
  --color-text: #fff;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 1s ease;
}

a {
  text-decoration: none;
}

.top-bar {
  background-color: var(--primary-color);
  padding: 1rem;
  font-size: 1.4rem;
  margin-top: 5rem;
}

.nav-links {
  font-size: 1.4rem;
}

.navigation {
  background-color: var(--tertiary-color) !important;
}

/* carousel image style */
.carousel-image {
  max-height: 350px;
  min-height: 350px;
}

/* product card style */
.product-image {
  min-height: 200px;
  max-height: 200px;
}

.product-description {
  align-self: flex-end;
}

.product-description a {
  background-color: var(--primary-color);
  border-radius: 3rem;
  color: var(--secondary-color);
}

.product-title {
  color: var(--color-text);
}

.product-card:hover {
  transform: scale(1.1);
}
